body{
    background-color: rgb(255, 115, 0) !important;
    font-family: 'Poppins', sans-serif !important;
}

.form-logo {
    width: 290px;
    margin-top: -70px;
    background-color: #fff;
    border-radius: 100px 100px 0px 0px;
}

.order-form{
    background-color: #fff;
    border-radius: 25px;
    margin: 50px 0px 20px 0px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.client-form label{
    font-size: 14px;
    font-weight: 600;
    color:#2f2f2f;
}
.client-form .form-control{
    border: none;
    background-color: #ededf6;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    font-size: 16px;
    padding: 8px;
    transition: 0.2s;
}
.client-form .form-control:focus{
    outline: none;
    box-shadow: none;
    background-color: #e2dede;
    box-shadow: inset 3px 3px 3px rgba(0,0,0,0.2);
transform: scale(1.01);
}
.client-form button{
    background-color: #DD3342;
    color: white;
    border: none;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    margin-top: 8px;
}
.client-form button:hover{
    background-color: #DD3342;
    color: white;
}

.client-form button:active{
    background-color: #DD3342!important;
    color: white !important;
    outline: #6e81ad !important;
    margin-top: 10px;
}
.client-form option{
    background-color: white;
    color: #DD3342;
}
.client-form option:hover{
    background-color: #AB7846 !important;
    color: red !important;
}
.client-form 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
